<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - MvcApp</title>
    @Styles.Render("~/Content/libs/basic/bootstrap/css/bootstrap")
    @Styles.Render("~/Content/css/layout")
    @RenderSection("styles", required: false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("MvcApp", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @Html.Partial("_NavTop")
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <h2>DEMO For Load FocusLogin</h2>
        <button class="btn btn-primary" id="btnLoad">Load</button>
        <div id="_FocusLogin" style="background-color: white; display: none"></div>
        <hr />
        <footer>
            <p>&copy; <span style="color: red;">@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</span> - MvcApp</p>
        </footer>
    </div>
    <script src="~/Content/libs/basic/jquery/jquery-1.12.4.js"></script>
    <script src="~/Content/libs/basic/holder/holder.js"></script>
    <script>
        $(document).ready(function () {
            var loadCompleted = false;
            var isLoginViewShowed = function () {
                return $("#_FocusLogin").is(':visible') === true;
            };
            var toggleOptions = {
                duration: 400,
                easing: 'swing',
                complete: function () {
                    console.log('toggle completed! isLoginViewShowed: ' + isLoginViewShowed());
                }
            };
            $("#btnLoad").click(function () {
                
                if (!loadCompleted) {
                    $("#_FocusLogin").load("/Auths/Account/_FocusLogin", function () {
                        loadCompleted = true;
                        $("#_FocusLogin").show();
                        console.log('Load was performed! isLoginViewShowed: ' + isLoginViewShowed());
                    });
                } else {
                    $("#_FocusLogin").toggle(toggleOptions);
                }
            });
            
            //var callApiCount = 0;
            //var callApi = function() {
            //    console.log('calling some api: ' + (++callApiCount));
            //    if (callApiCount > 3) {
            //        //mock success
            //        location.href = location.href;
            //    }
            //};
            //setInterval(function () {
            //    if (isLoginViewShowed()) {
            //        callApi();
            //    } else {
            //        //console.log('hide..');
            //    }
            //}, 1000);

            var getUser = function () {

                $.ajax({
                    type: 'get',
                    data: {
                        senceId: 'todo'
                    },
                    dataType: 'json',
                    url: "/Auths/Account/GetFocusLoginUser",
                    success: function (data) {
                        console.log(data);
                        if (data !== null) {
                            location.reload();
                        } 
                    },
                    error: function (data) {
                        console.log(data);
                    }
                });


            };
            setInterval(function () {
                if (isLoginViewShowed()) {
                    getUser();
                } else {
                    //console.log('hide..');
                }
            }, 1000);

        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
