@using CommonFx.BaseLib.WeChats.Apis
@using CommonFx.Common.Web
@using CommonFx.Common.Web.Mvc
@{
    
    var requestContextHelper = RequestContextHelper.Resolve();
    var code = requestContextHelper.TryGetFromRequestParams("code");
    var state = requestContextHelper.TryGetFromRequestParams("state");

    <h2>code: @code</h2>
    <h2>state: @state</h2>
    <hr />
    var config = MvcApp.Web.Areas.WeChats.Models.WeChatHelper.GetWeChatConfig();

    var getAccessToken = GetAccessToken.CallGetAccessToken(config.AppId, config.AppSecret, code);
    <h2>@getAccessToken.DisplayMessage</h2>
    if (!getAccessToken.Success())
    {
        return;
    }
    var getUserInfo = GetUserInfo.CallGetUserInfo(getAccessToken.access_token, getAccessToken.openid);
    <h2>@getUserInfo.DisplayMessage</h2>
    if (!getUserInfo.Success())
    {
        return;
    }
}
<p>@getUserInfo.ToJsonRaw()</p>
<img src="@getUserInfo.headimgurl" alt="head logo" />