@using CommonFx.BaseLib.WeChats.Apis
@using CommonFx.Common.Web
@using CommonFx.Common.Web.Mvc
@{
    var requestContextHelper = RequestContextHelper.Resolve();
    var code = requestContextHelper.TryGetFromRequestParams("code");
    var state = requestContextHelper.TryGetFromRequestParams("state");

    <h2>code: @code</h2>
    <h2>state: @state</h2>
    <hr/>

    var config = MvcApp.Web.Areas.WeChats.Models.WeChatHelper.GetWeChatConfig();

    var getAccessToken = new GetAccessToken();
    var callGetAccessToken = getAccessToken.CallGetAccessToken(config.AppId, config.AppSecret, code);
    <h2>@callGetAccessToken.DisplayMessage</h2>
    if (!callGetAccessToken.Success())
    {
        return;
    }

    getAccessToken = callGetAccessToken.SuccessResult;
    var getUserInfo = new GetUserInfo();
    var callGetUserInfo = getUserInfo.CallGetUserInfo(getAccessToken.access_token, getAccessToken.openid);
    <h2>@callGetUserInfo.DisplayMessage</h2>
    if (!callGetAccessToken.Success())
    {
        return;
    }
    
    getUserInfo = callGetUserInfo.SuccessResult;
}
<p>@getUserInfo.ToJsonRaw()</p>
<img src="@getUserInfo.headimgurl" alt="head logo" />